<h1>Frivilligs</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @frivilligs.each do |frivillig| %>
      <tr>
        <td><%= frivillig.id %></td>
        <td><%= link_to frivillig.name, frivillig_path(frivillig) %></td>
        <td><%= frivillig.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_frivillig_path(frivillig), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', frivillig_path(frivillig), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_frivillig_path, :class => 'btn btn-primary' %>
